
button {
    padding: 14px 27px;
    border-radius: 999px;
    font-size: 17px;
    cursor: pointer;
    background: rgba(28, 21, 63, 0.2);
    border: 1px solid #c7c7c7;
    color: #fff;
}

button.blue {
    background: rgba(0, 89, 255, .2);
    border: 1px solid rgb(12, 49, 124);
}

button.red {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgb(136, 13, 13);
}